@import url('composants/tag.css');
@import url('composants/message.css');
@import url('composants/popup.css');
@import url('composants/setup.css');


.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 1080px;
  }

  .one {
    background-color: #B2BF9F;
  }
  .user {
    width: 25%;
  }

  .one p,
  .one h1 {
    text-align: center;
    margin-top: 1em;
  }

  .two {
    background-color: #96A086;
  }

  .recherche {
    border-radius: 50px;
    background-color: #FFF6DE;
    width: 70%;
    height: 3.5em;
    font-size: 1.4em;    
    text-align: center;
    display: block;
    margin: 6% auto;
  }
  
  h1 {
    text-align: center;
  }

  .three {
    background-color: #B2BF9F; 
  }

#logo {
  margin-left: 20em;
  margin-top: 5em;
}

.menu {
  background-color: #FFF6DE;
  border-radius: 25px;
  margin-left: 13.7em;
  margin-top: 1em;
  width: 12em;
  height: 3em;
  text-align: center;
  vertical-align:middle;
  line-height: 3em;
}

.menu p {
  font-size: 1.4em;
}

.menu:hover {
  border: 2px solid #1F1D1E;
}

#faireunmessage {
  margin-top: 45em;
  margin-left: 9em;
}