@import url('composants/tag.css');
@import url('composants/message.css');
@import url('composants/popup.css');
@import url('composants/setup.css');
@import url('composants/profil.css');
@import url('composants/Navbar.css');

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 1080px;
}

.one, .three {
  background-color: var(--main-bg-color_13);
}

.user {
  width: 25%;
}

.animation_gauche {
  animation-name: transition_gauche;
  animation-duration: 5s; 
}

@keyframes transition_gauche {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.one h4,
.one h1 {
  text-align: center;
  margin-top: 1em;
}

.two {
  background-color: var(--main-bg-color_2);
}

.recherche  {
  background-color: var(--main-button-color) !important;
  width: 70%;
  height: 3.5em;
  font-size: 1.4em;    
  text-align: center;
  display: block;
  margin: 6% auto;
  color: var(--main-color);
}

.recherche2  {
  background-color: #FFF6DE !important;
  width: 70%;
  height: 3.5em;
  font-size: 1.4em;    
  text-align: center;
  display: block;
  margin: 6% auto;
  color: var(--main-color);
}

.pseudotweet {
  text-align: center;
}

#logo {
  margin-left: 26em;
  margin-top: 5em;
}

.menu {
  background-color: var(--main-button-color);
  border-radius: 25px;
  margin-left: 20.7em;
  margin-top: 2em;
  width: 16em;
  height: 4em;
  text-align: center;
  vertical-align:middle;
  line-height: 3em;
  border: none;
}

.menu p {
  font-size: 1.4em;
  color: var(--main-color);
}

.menu:hover {
  border: 2px solid var(--main-color  );
}

.faireunmessage {
  margin-top: 45em;
  margin-left: 9em;
}

.nothing {
  font-size: 35px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 7.3%;
}

@media screen and (min-width: 1920px) and (max-width: 2559px) {
  #logo {
    margin-left: 21em;
  }

  .menu {
    margin-left: 10.7em;

  }

  .faireunmessage {
    margin-top: 45em;
    margin-left: 7em;
  }

  .nothing {
    font-size: 25px;
  } 

  .user h1 {
    font-size: 32px;
  }

  .user h4 {
    font-size: 22px;
  }
  
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  #logo {
    margin-left: 10em;
  }

  .menu {
    margin-left: 5.7em;
    width: 10em;
    height: 3em;
  }

  .menu p {
    font-size: 0.8em;
  }

  .faireunmessage {
    margin-top: 45em;
    margin-left: 7em;
  }

  .nothing {
    font-size: 25px;
  } 

  .user h1 {
    font-size: 26px;
  }

  .user h4 {
    font-size: 18px;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #logo {
    margin-left: 10em;
  }

  .menu {
    margin-left: 5.7em;
    width: 7.5em;
    height: 3em;
  }

  .menu p {
    font-size: 0.8em;
  }

  .faireunmessage {
    margin-top: 45em;
    margin-left: 0.5em;
  }

  .nothing {
    font-size: 25px;
  } 

  .user {
    width: 130px;
  }

  .user h1 {
    text-align: start;
    font-size: 15px;
    margin-left: 10px;
  }

  .user h4 {
    font-size: 10px;
    text-align: start;
    margin-left: 10px;
  }

  .wrapper {
    grid-template-columns: 0.8fr 3fr 0.5fr;
  }
  
  .display {
    display: none;
  }

  .recherche  {
    height: 2.5em;
    font-size: 1em;    
  }


}

@media screen and (max-width: 767px) {
  #logo {
    margin-left: 10em;
  }

  .menu {
    margin-left: 5.7em;
    width: 7.5em;
    height: 3em;
  }

  .menu p {
    font-size: 0.8em;
  }

  .faireunmessage {
    margin-top: 0em;
    margin-left: 0em;
  }

  .nothing {
    font-size: 25px;
  } 

  .user {
    width: 300px;
    margin-bottom: 100px;
  }

  .user h1 {
    text-align: start;
    font-size: 20px;
    margin-left: 10px;
  }

  .user h4 {
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
  }

  .wrapper {
    grid-template-columns: 3fr ;
  }
  
  .display {
    display: none;
  }

  .recherche  {
    height: 2.5em;
    font-size: 1em;    
  }


}