@import url('composants/tag.css');
@import url('composants/message.css');
@import url('composants/popup.css');
@import url('composants/setup.css');
@import url('composants/profil.css');


.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 1080px;
}

.one, .three {
  background-color: #B2BF9F;
}

.user {
  width: 25%;
  animation-name: transition_gauche;
  animation-duration: 5s; 
}

@keyframes transition_gauche {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.one h4,
.one h1 {
  text-align: center;
  margin-top: 1em;
}

.two {
  background-color: #96A086;
}

.recherche {
  border-radius: 50px;
  background-color: #FFF6DE;
  width: 70%;
  height: 3.5em;
  font-size: 1.4em;    
  text-align: center;
  display: block;
  margin: 6% auto;
}

.pseudotweet {
  text-align: center;
}

#logo {
  margin-left: 20em;
  margin-top: 5em;
}

.menu {
  background-color: #FFF6DE;
  border-radius: 25px;
  margin-left: 20.7em;
  margin-top: 2em;
  width: 14em;
  height: 4em;
  text-align: center;
  vertical-align:middle;
  line-height: 3em;
  border: 1px solid  #FFF6DE;
}

.menu p {
  font-size: 1.4em;
}

.menu:hover {
  border: 2px solid #1F1D1E;
}

.faireunmessage {
  margin-top: 45em;
  margin-left: 9em;
}

.nothing {
  font-size: 35px;
  text-align: center;
  margin-top: 10%;
}

