.baniere img {
    width: 100%;
    height: 500px;
}

.photoprofil {
    width : 180px; 
    height : 180px;
    
    -moz-border-radius : 90px;
    -webkit-border-radius : 90px;
    border-radius : 90px;

    margin-top: -7%;
    margin-left: 7%;
}

.pseudoprofil {
    font-size: 320%;
    margin-left: 27%;
    margin-top: -8%;
}

.nomprofil {
    margin-left: 10%;
    margin-top: 4%;
}

#modifierprofil {
    margin-left: 75%;
    margin-top: -18%;
}

.biographie {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 140%;
}

.tweetprofil {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 4em;
    align-items: center;
    line-height: 4em;
}

.tweetprofil div {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#bouton_own {
    background-color: #FFF6DE;
    width: 100%;
    height: 4.8em;
    border-right: 1.5px solid black;
    border: 1.5px solid #96A086;
}

#bouton_like {
    background-color: #96A086;
    width: 100%;
    height: 4.8em;
    border: 1.5px solid #96A086;
    border-left: 1.5px solid black;
}

.own{
    display: block;
}

.like {
    display: none;
}


