.baniere img {
    width: 100%;
    height: 450px;
}

.photoprofil {
    width : 150px; 
    height : 150px;
    border-radius : 75px;

    margin-top: -7%;
    margin-left: 7%;
}

.photoprofil img {
    border: 3px solid black;
}

.pseudoprofil {
    font-size: 320%;
    margin-left: 27%;
    margin-top: -10%;

    -webkit-text-stroke: 1px white; /* largeur et couleur */
}

.nomprofil {
    margin-left: 10%;
    margin-top: 6%;
}

#modifierprofil {
    margin-left: 75%;
    margin-top: -27%;
    border: 2px solid black;
}

.biographie {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 140%;
}

.tweetprofil {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 4em;
    align-items: center;
    line-height: 4em;
}

.tweetprofil div {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#bouton_own {
    background-color: var(--main-button-color);
    width: 100%;
    height: 4.8em;
    border-right: 1.5px solid black;
    border: 1.5px solid var(--main-bg-color_2);
    color: var(--main-color);
}

#bouton_like {
    background-color: var(--main-bg-color_2);
    width: 100%;
    height: 4.8em;
    border: 1.5px solid var(--main-bg-color_2);
    border-left: 1.5px solid black;
    color: var(--main-color);
}

.own{
    display: block;
}

.like {
    display: none;
}


@media screen and (min-width: 1920px) and (max-width: 2559px) {
    .photoprofil {
        width : 110px; 
        height : 110px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    .photoprofil {
        width : 110px; 
        height : 110px;
    }

    .pseudoprofil {
        font-size: 250%;
    }

    .baniere img {
        height: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .photoprofil {
        width : 110px; 
        height : 110px;
    }

    .pseudoprofil {
        font-size: 250%;
    }

    .baniere img {
        height: 250px;
    }
}

@media screen and (max-width: 767px) {
    .photoprofil {
        width : 110px; 
        height : 110px;
    }

    .pseudoprofil {
        font-size: 250%;
        margin-left: 35%;
        margin-top: -12%;
    }

    .baniere img {
        height: 250px;
    }
}