@font-face {
  font-family: 'commissioner';
  src: url('../Commissioner-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1F1D1E;
}

.fixed {
  position: fixed;
}

body {
  font-family: commission;
  color: #1F1D1E;
  cursor: default;
}