#tag {
  margin-top: 3em;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-left: 10%; 
  margin-right: 10%;
    
}

.transition {
  animation-name: transition_haut;
  animation-duration: 5s; 
}

.transition_inverse {
  animation-name: transition_bas;
  animation-duration: 5s; 
}

@keyframes transition_haut {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes transition_bas {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0%);
  }
}

.box {
  border-radius: 18px;
  background-color: var(--main-button-color);
  border: 1px solid  var(--main-button-color);
  height: 5.5em;
  width: 100%;
  vertical-align:middle;
  line-height: 4em;
  color: #1F1D1E;
  font-size: 15px;
  transition: all 1s ease-out;
}

.reset {
  border-radius: 18px;
  background-color: var(--main-button-color);
  margin-top: 1%;
  margin-left: 10%; 
  margin-right: 10%; 
  height: 2em;
  vertical-align:middle;
  line-height: 2em;
  text-align: center;
}

#tag {
  text-align: center;
  font-size: 20px;
}


.nature:hover {
  background-color: green;
  border: 1px solid rgb(0, 128, 0);
}
 
.divertissement:hover {
  background-color: red;
  border: 1px solid red;
}

.cinema:hover {
  background-color: rgb(79, 79, 234);
  border: 1px solid rgb(79, 79, 234);
}

.blagues:hover {
  background-color: yellow;
  border: 1px solid yellow;
}

.politique:hover {
  background-color: brown;
  border: 1px solid brown;
  color: white;
}

.technologie:hover {
  background-color: orange;
  border: 1px solid orange;
}

.culture:hover {
  background-color: white;
  border: 1px solid white;
}

.gaming:hover {
  background-color: purple;
  border: 1px solid purple;
}

.conseil:hover {
  background-color: grey;
  border: 1px solid grey;
  color: white;
}

.autre:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.reset:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .box {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #tag {
    margin-top: 3em;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-left: 10%; 
    margin-right: 10%;
  }

  .box {
    font-size: 13px;
    height: 4em;
    width: 100px;
  }

  .reset {
    margin-top: 3%;
  }
}

@media screen and (max-width: 767px) {
  #tag {
    margin-top: 3em;
    display: grid;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-left: 1%; 
    margin-right: 1%;
  }

  .box {
    font-size: 13px;
    height: 4em;
    width: 100px;
  }

  .reset {
    margin-top: 3%;
  }
}
